name: Docker Publish

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  docker:
    runs-on: ubuntu-latest
    environment: prod
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.23'
        cache: true

    - name: Set up QEMU
      run: docker run --rm --privileged multiarch/qemu-user-static --reset -p yes

    - name: Set up Docker Buildx
      run: |
        docker buildx create --use --name builder
        docker buildx inspect --bootstrap

    - name: Login to Docker Hub
      run: echo "${{ secrets.DOCKER_TOKEN }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Extract version
      id: version
      run: echo "version=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

    - name: Build and push
      run: |
        docker buildx build \
          --platform linux/amd64 \
          --file ./Dockerfile.gocron \
          --tag ${{ secrets.DOCKER_USERNAME }}/gocron:${{ steps.version.outputs.version }} \
          --tag ${{ secrets.DOCKER_USERNAME }}/gocron:latest \
          --no-cache \
          --push \
          .
